{% extends "meals/base.html" %}

{% block title %}
    {{ meal.name }} | StudentPlate
{% endblock %}

{% block content %}
    <section class="meal-detail">
        <a href="{% url 'meal_list' %}" class="back-link">
            ← Back to all meals
        </a>

        <div class="meal-detail-header">
            <div>
                <p class="eyebrow">{{ meal.category }}</p>

                <h1>{{ meal.name }}</h1>

                <p class="meal-detail-description">
                    {{ meal.description }}
                </p>
            </div>

            <div class="price-panel">
                <span>Estimated cost per serving</span>
                
                <strong>
                    £{{ meal.price|floatformat:2 }}
                </strong>
            </div>
        </div>

        <!-- Save or remove meal from favourites -->
         <div class="favourite-action">
            {% if is_favourite %}
                <form method="post" action="{% url 'remove_favourite' meal.id %}">
                    {% csrf_token %}

                    <button class="favourite-button saved-favourite" type="submit">
                        ♥ Saved to favourites
                    </button>
                </form>
            {% else %}
                <form method="post" action="{% url 'add_favourite' meal.id %}">
                    {% csrf_token %}

                    <button class="favourite-button" type="submit">
                        ♡ Save to favourites
                    </button>
                </form>
            {% endif %}
         </div>

        <!-- Summary information -->
        <div class="nutrition-grid">
            <article class="nutrition-item">
                <strong>{{ meal.prep_time }}</strong>
                <span>Minutes</span>
            </article>

            <article class="nutrition-item">
                <strong>{{ meal.calories }}</strong>
                <span>Calories</span>
            </article>

            <article class="nutrition-item">
                <strong>{{ meal.protein }}</strong>
                <span>Protein</span>
            </article>
        </div>

        <!-- Add this meal to the weekly planner -->
        <section class="add-planner-section">
            <div>
                <h2>Add to weekly planner</h2>

                <p>
                    Select which day you would like to prepare this meal.
                </p>
            </div>

            <form
                class="add-planner-form"
                method="post"
                action="{% url 'add_to_planner' meal.id %}"
            >
                {% csrf_token %}

                <label for="planner-day">Day</label>

                <select id="planner-day" name="day" required>
                    {% for day in days_of_week %}
                        <option value="{{ day }}">
                            {{ day }}
                        </option>
                    {% endfor %}
                </select>

                <button class="button primary-button" type="submit">
                    Add to planner
                </button>
            </form>
        </section>
        <br>

        <!-- Ingredients entered on separate lines in Admin -->
        <section class="ingredients-section">
            <h2>Ingredients</h2>

            <div class="ingredients-list">
                {{ meal.ingredients|linebreaksbr }}
            </div>
        </section>
    </section>
{% endblock %}